img{
    width: 99%;
    height: 99%;

}

p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 6; /* number of lines to show */
    padding: 0px 5px 3px 5px;
}

.card{
    display: flex;
    flex-direction: row;
    position: relative;
}

.flexBoxLeft{
    max-width: 319px;
    max-height: 233px;
    object-fit: contain;
    top: 0;
    left: 0;   
}

.flexBoxRight {
    width: 315px;
    height: 230px;
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
    position: absolute;
    overflow: hidden;
    background-color: rgba(184, 182, 182, 0.1);
}
.card:hover .flexBoxLeft {
    transition: transform 0.2s;
    transform: scale(1.1); /* scale up image on hover */
}

.card:hover .flexBoxRight{
    transition: transform 0.2s;
    transform: scale(1.1) translateX(319px);
    
}

